html{
    font-size: 62.5%;
}
body{
    background-color:black;
}
header{
    orientation: center;
}


.normalText{
    font-size: 2rem;
    font-family: "gargle";
    color: white;
}
.titleText{
    font-size: 3.5rem;
    font-family: "gargle";
    color: white;
}

/*----------FLEX NAV----------*/
.flex-containerNav{
    width: 95vw;
    height: 4.5rem; 
    position: sticky;
    top: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: black  
}
.flex-itemNav{
    width: 24%;
    height: 90%;
    background-color:rgb(55, 6, 75);
    text-align: center;
    font-size: 3.5rem;
    font-family: "gargle";
    color: white;
}
.separador{
    
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: center;
}

/*----------FLEX ABOUT----------*/
.flex-containerAbout{
    width: 98vw;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}
.flex-itemAboutText{
    width: 48%;
    align-self: right;
}
.flex-itemAboutImg{
    width: 48%;
    align-self: center;
}

/*----------FLEX GAMES----------*/
.flex-containerGames{
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: space-around; 
    justify-content: center ;
    flex-wrap:wrap;
}
.flex-itemGameImg{
    width: 28%;
    height: auto;
    align-self: center;
}
.flex-itemGameDes{
    width: 68%;
    height: auto;
    align-self: left;
    font-size: 2.2rem;
    font-family: "gargle";
}
#theFlock{
    background-color: rgb(245, 142, 116);
    width: 90vw;
    height: auto;
    color: black;
}
#sheepAnnoyer{
    background-color: rgb(24, 129, 24);
    width: 90vw;
    height: auto;
    color: black;
}
#onlyOneLife{
    background-color: rgb(61, 34, 114);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#achievementCrusader{
    background-color: rgb(73, 73, 73);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#bleargh{
    background-color: rgb(98, 211, 83);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#witdb{
    background-color: rgb(253, 250, 68);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#finalFantaThree{
    background-color: rgb(136, 136, 136);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#gregoryGame{
    background-color: rgb(56, 56, 56);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#moonlightMadness{
    background-color: rgb(75, 180, 119);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}
#gregoryRanch{
    background-color: rgb(138, 138, 138);
    width: 90vw;
    height: auto;
    color: rgb(0, 0, 0);
}

/*----------OTHER----------*/
#banner{
    width: 95vw;
}
#aboutImg{
    max-width: 75%;
    height: auto;
}
#form{
    max-width: 75%;  
}
#video{
    max-width: 75%;
    justify-content: center;
}

/*----------FONTS----------*/
@font-face {
    font-family: "gargle";
    src: url("Fonts/gargle.ttf");
}

/*----------RESPONSIVE----------*/
@media only screen and (max-width: 600px) {
    html {font-size: 30%;}
}
@media only screen and (min-width: 600px) {
    html {font-size: 35%;}
}
@media only screen and (min-width: 768px) {
    html {font-size: 50%;}
}
@media only screen and (min-width: 992px) {
    html {font-size: 62.5%;}
}
@media only screen and (min-width: 1200px) {
    html {font-size: 80%;}
}

/*----------LINKS----------*/
a {
    text-decoration: none;
}   
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color:rgb(190, 0, 165)
}


@keyframes animacion{
    0%{
        color: rgb(214, 12, 130)
    }
    50%{
        color: rgb(27, 183, 255);
    }
    100%{
        color: rgb(214, 12, 130)
    }
}
.anim{
    color:white;
    width: 150px;
    height: 150px;

    animation: animacion 2s linear infinite reverse;
}
